/* You can add global styles to this file, and also import other style files */
.person-big {
    width: 8rem;
    height: 8rem;
}

app-root {
    min-height: calc(100vh - 3.75rem);
    display: flex;
    flex-direction: column;
}

app-login-screen, app-registration-screen, app-user-overview-screen, .fill-parent-height {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

body {
    margin-top: 3.75rem !important;
}
