:root {
    --navbar-padding: 3.75rem;
}

.person-big {
    width: 8rem;
    height: 8rem;
}

app-root {
    min-height: calc(100vh - var(--navbar-padding));
    display: flex;
    flex-direction: column;
}

app-login-screen, app-registration-screen, app-user-overview-screen, .fill-parent-height {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

body {
    margin-top: var(--navbar-padding) !important;
}
