.plus-icon, .right-icon, .left-icon, .chart-icon {
    width: 1.3rem;
    height: 1.3rem;
    display: flex;
}

.add-button-label {
    margin-left: 0.25rem;
}

.plus-icon-button, .chart-icon-button {
    padding: 0.5rem;
}

.chart-icon-button {
    margin-right: 0.1rem;
}

.step-back-button {
    margin-right: 0.2rem;
}

.step-forward-button {
    margin-left: 0.2rem;
}

.finance-main-container {
    max-height: calc(0.75 * 100vh);
    overflow-y: auto;
}
