.finance-items-container {
    max-height: calc(0.75 * 100vh);
    overflow-y: auto;
}

.plus-icon {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 0.25rem;
    display: flex;
}

.plus-icon-button {
    padding: 0.5rem;
}