<div class="modal fade" id="addItemModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="addItemModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="addItemModal">Add new item</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    (click)="dismissButtonHandler($event)"></button>
            </div>
            <div class="modal-body">
                <app-dismissable-error-message [message]="'Please add an amount larger than 0'"
                    [show]="this.showValidationErrorAmount" [boxId]="'add-validation-error-box-amount'"
                    (showChange)="this.showValidationErrorAmount=$event"></app-dismissable-error-message>
                <app-dismissable-error-message [message]="'Name has to be longer than 3 characters'"
                    [show]="this.showValidationErrorName" [boxId]="'add-validation-error-box-name'"
                    (showChange)="this.showValidationErrorName=$event"></app-dismissable-error-message>
                <form>
                    <div class="input-group py-1">
                        <input type="number" class="form-control amount-field" placeholder="Amount"
                            [(ngModel)]="this.itemToAdd.amount" name="price">
                        <span class="input-group-text col-1">€</span>
                        <input type="text" class="form-control" placeholder="Name" [(ngModel)]="this.itemToAdd.name"
                            name="name">
                    </div>
                    <div class="input-group py-1">
                        <input type="date" class="form-control" [(ngModel)]="this.itemToAdd.date" name="date">
                    </div>
                    <div class="input-group py-1">
                        <textarea placeholder="Description (optional)" class="form-control"
                            [(ngModel)]="this.itemToAdd.description" name="description"></textarea>
                    </div>
                    <div class="input-group py-1">
                        <select class="form-select" [(ngModel)]="this.itemToAdd.type" name="type">
                            <option *ngFor="let i of readableCategories" [value]="i.raw">{{i.readable}}</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="add-modal-dismiss-button"
                    (click)="dismissButtonHandler($event)">Dismiss</button>
                <button type="button" class="btn btn-success" (click)="saveButtonHandler($event)">Save</button>
            </div>
        </div>
    </div>
</div>