<div class="modal fade" id="editItemModal" tabindex="-1" aria-labelledby="editItemModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editItemModal">Edit</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="input-group py-1">
                        <input type="number" class="form-control amount-field" placeholder="Amount" value={{this.itemToEdit?.price}}>
                        <span class="input-group-text col-1">€</span>
                        <input type="text" class="form-control" placeholder="Name" value={{this.itemToEdit?.name}}>
                    </div>
                    <div class="input-group py-1">
                        <input type="date" class="form-control" value={{this.itemToEdit?.date}}>
                    </div>
                    <div class="input-group py-1">
                        <textarea placeholder="Description (optional)" class="form-control" value={{this.itemToEdit?.description}}></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Dismiss</button>
                <button type="button" class="btn btn-success">Save</button>
            </div>
        </div>
    </div>
</div>